@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

body {
  background: linear-gradient(#000000, #313131);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100% 100%;
}
  
#title {
  font-family: 'Press Start 2P', cursive;
  color: #fff789;
  font-size: 70px;
  padding: 15px;
  margin-right:auto;
  margin-left:auto;
  margin-top:10%;
  margin-bottom:2%;
}
  
#main {
  height: 650px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #fff789;
  background-color:#000000;
  border: 5px solid #fff789;
  margin-bottom:50%;
  border-radius: 12%;
}
  
#BRKplus,#SESSplus {
  font-size: 50px;
  width: 15%;
  border: 2px solid #fff789;
  outline: none;
  background-color: #000000;
  color:#09b325;
  border-radius: 30%;
}
  
#BRKminus,#SESSminus {
  font-size: 50px;
  width: 15%;
  padding: 2px;
  border: 2px solid #fff789;
  outline: none;
  background-color: #000000;
  color:#ff0000;
  border-radius: 30%;
}
  
#BRKlength,#SESSlength {
  font-size: 40px;
  color:#fff789;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}

#clock {
  font-size: 60px;
}

#clockDIV{
  width: 70%;
  margin-top:5%;
  margin-left: auto;
  margin-right: auto;
  color:#fff789;
  background-color: #000000;
  border: 2px solid #fff789;
  margin-bottom:5%;
  border-radius: 5%;
}
  
#startStop,#reset {
  font-size: 30px;
  width: 50%;
  padding: 2px;
  border: 10px solid #fff789;
  outline: none;
  margin-bottom:10px;
  background-color: #fff789;
  color:#000000;
  border-radius: 35%;
}