@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Permanent+Marker&display=swap");

:root {
  height: 100vh;
  background-image: url("http://cdn.wallpapersafari.com/63/21/pqLAFi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  position: relative;
}

#simontitle {
  font-size: 6rem;
  color: black;
  font-family: "Luckiest Guy";
  position: absolute;
  top:-2rem;
}

#gameBoard {
  background-color: black;
  height: 40rem;
  width: 40rem;
  border-radius: 20%;
  background-color: #000000;
  box-shadow: 10px 10px 34px 10px rgba(0, 0, 0, 0.68),
    inset 5px 5px 15px 8px #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 7rem;
}

#buttonContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  height: 70%;
  gap: 1rem;
}

#bottom {
  width: 70%;
  height: 4rem;
  display: grid;
  grid-template-columns: 21% 21% 16% 42%;
}

.red-text {
  color:red !important;
}

#on-off {
  color: grey;
  background-color: black;
  border: 2px solid grey;
  border-radius: 30px;
  outline: none;
  box-shadow: 0 10px rgba(255, 255, 255, 0.25) inset;
  margin-right:1.5rem;
}

#display {
  color: black;
  text-align: center;
  padding-top: 1rem;
  background-color: black;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
}

#start {
  margin-right:1.5rem;
  border: 2px solid grey;
  border-radius: 30px;
  outline: none;
  background-color: darkred;
  color: black;
  box-shadow: 0 10px rgba(255, 255, 255, 0.25) inset;
}

#strict {
  border: 2px solid grey;
  border-radius: 30px;
  outline: none;
  background-color: darkorange;
  color: black;
  box-shadow: 0 10px rgba(255, 255, 255, 0.25) inset;
  margin-left: 1.5rem;
}

button {
  border: 3px solid black;
  border-radius: 10%;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

#btn-1 {
  background: #108fe8;
  box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
}

.pressedBlue {
  background-color: #4da6ff;
}

#btn-2 {
  background: #e53030;
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
}
.pressedRed {
  background-color: #ff8080;
}

#btn-3 {
  background: #0ec518;
  box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
}
.pressedGreen {
  background-color: #80ff80;
}
#btn-4 {
  background: #ffc334;
  box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
}
.pressedYellow {
  background-color: #ffe680;
}
@media screen and (max-width: 650px) {
  #simontitle {
    font-size: 3rem;
    top:0rem;
  }
  #gameBoard {
    width: 80vw;
    height: 80vw;
  }
  #buttonContainer {
    gap:.35rem;
    width: 65%;
    height: 65%;
  }
  #bottom {
    height:1.5rem;
    width:82%;
  }
  #bottom {
    height:3rem;
  }
  #on-off, #start {
    margin-right:.25rem;
  }
  #display {
    padding-top: .65rem;
  }
  #strict {
    margin-left: .25rem;
  }
}
