@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    font-family: 'Permanent Marker';
    background-image: url(http://www.hobart.k12.ok.us/HIGHSCHOOL/hsfaculty/Quintero/Notebook-Paper-Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #title{
    font-family: 'Permanent Marker';
    font-size:80px;
  }
  
  #gameTypeSelector,#start{
    font-size: 40px;
    color: black;
    font-family: 'Permanent Marker';
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin:20px
  }
  #XOselector{
    font-size: 40px;
    color: black;
    font-family: 'Permanent Marker';
    border: 2px solid black;
    border-radius: 6px;
    background-color: red;
    margin:10px
  }
  #reset{
    font-size: 40px;
    color: black;
    font-family: 'Permanent Marker';
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin:20px
  }
  
  .gridContainer {
    height: 500px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  #TLC,#TE,#TRC,#LE,#C,#RE,#BLC,#BE,#BRC {
    outline: none;
    font-family: 'Permanent Marker';
    font-size:60px;
    background-color: #F7F7F7;
    color: #F7F7F7; 
    border: none;
  }
  
  #player1Score{
    font-size: 40px;
    color:red;
    font-family: 'Permanent Marker';
    margin:20px
  }
  #player2Score{
   font-size: 40px;
    color:blue;
    font-family: 'Permanent Marker';
    margin:20px 
  }
  #turnIndicator{
    font-size: 40px;
    font-family: 'Permanent Marker';
    margin:20px 
  }